.modal{
    background-color: whitesmoke;
    width: 400px;
    height: 333px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
   
    transition: 1s;
    scale:1;
    transform: translateY(0);
   
   
  }